<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdSsu-XLKdzI1Wl03x5ncX3V0twua_3LI</string>
	<key>GCM_SENDER_ID</key>
	<string>784061432699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KritiAgarwal.Emoji-Meaning</string>
	<key>PROJECT_ID</key>
	<string>emoji-70190</string>
	<key>STORAGE_BUCKET</key>
	<string>emoji-70190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784061432699:ios:ed1a9c1d4a3af91d98f3de</string>
</dict>
</plist>